<h1> <%= @drink.name %> </h1>
<div>
  Created by: <%= @drink.user.email %>
</div>
<div>
  <% @drink.liquors.each do |liquor| %>
    <%= liquor.name %>
  <% end %>
</div>
<div>
  <p> <%= @drink.description %> </p>
</div>
