<h1> <%= @drink.name %> </h1>
<div>
  Created by: <%= @drink.user.email %>
</div>
<div>
  <% if @drink.alcoholic? %>
    <h2>Liquors</h2>
    <% @drink.liquors.each do |liquor| %>
      <%= liquor.name %>
    <% end %>
  <% end %>
</div>
<div>
  <p> <%= @drink.description %> </p>
</div>

<div>
  
</div>
