/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body{
  font-family: 'News Cycle', sans-serif;
  color: #fff;
  font-size: 18px;
}
h1{
  font-family: "Sorts Mill Goudy", serif;
  color: #fff;
}
label{
  color: #fff;
}
h2{
  color: #fff;
  font-family: 'News Cycle', sans-serif;
}
a{
  color: #5fcbff;
  font-family: 'News Cycle';
  font-size: 18px;
}
a:hover{
  color: #ffb011;
}

img#avatar{
  max-width: 45px;
}
img.home{
  position:relative;
}
body{
  background-color: #000000;
}
.slogan{
  position:absolute;
  right:5%;
  top:70%;
}
.slogan h1{
  color: white;
}
.top-bar{
  background: #2b2929;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
  background: #2b2929;
  color: #5fcbff;
  font-family: 'News Cycle', sans-serif;
}
.top-bar-section li:not(.has-form) a:not(.button){
  background: #2b2929;
  font-family: 'News Cycle', sans-serif;
}
.top-bar .name h1 a:hover{
  color: #5fcbff;
  background: #2b2929;
}
.flash-alert{
  background-color: #a01010;
  padding: 5px;
  box-shadow: 4px 4px 3px #7a0000;
  font-family: 'News Cycle', sans-serif;
}
input[type="checkbox"], input[type="radio"]{
  transform: scale(1.5);
}
label{
  font-size: 1rem;
  font-family: 'News Cycle';
}
.liquors label:hover{
  color: #5fcbff;
}
